{% extends "app/layout.html" %}
{% block title %}Снабжение{% endblock %}
{% block content %}

{% for item in object_list %}
    <div class="card h-100 mb-3 ms-3" style="max-width: 18rem;min-width: 18rem;">
        <div class="card-body">
            <h5>{{item.title}}</h5>
            <p class="card-text">{{item.shipper}}</p>
            <p class="card-text">{{item.desc}}</p>
            <p class="card-text">{{item.items}}</p>
            <p class="card-text">{{item.status}}</p>
            <div class="mx-auto">
                <a href="/shipping/delete_item/{{item.id}}" class="btn btn-primary mb-2">Удалить</a>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}