{% extends "app/layout.html" %}
{% block title %}Снабжение{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <img class="img-category">
            <h2>Список заявок</h2>
            <p>Показать список заявок на поставку</p>
            <p><a class="btn btn-secondary" href="/shipping/list_shipping" role="button">Перейти</a></p>
        </div>
        <div class="col">
            <img class="img-category">
            <h2>Создать</h2>
            <p>Создать заявку на поставку</p>
            <p><a class="btn btn-secondary" href="/shipping/request" role="button">Перейти</a></p>
        </div>
        <div class="col">
            <img class="img-category">
            <h2>Список заказов</h2>
            <p>Показать список заказов</p>
            <p><a class="btn btn-secondary" href="/shipping/list_orders" role="button">Перейти</a></p>
        </div>
    </div>
</div>

{% endblock %}
