{% extends "app/layout.html" %}
{% block title %}Продажи{% endblock %}
{% block content %}

<div class="panel">
    <div class="category">
        <img class="img-category" src="/static/sales.svg">
        <h2>Рекламная кампания</h2>
        <p>Создать рекламную кампанию</p>
        <p><a class="btn btn-secondary" href="/sales/campaign" role="button">Перейти</a></p>
    </div>
    <div class="category">
        <img class="img-category" src="/static/sales.svg">
        <h2>Список кампаний</h2>
        <p>Показать список рекламных кампаний</p>
        <p><a class="btn btn-secondary" href="/sales/list" role="button">Перейти</a></p>
    </div>
</div>

{% endblock %}
