{% extends "app/layout.html" %}
{% block title %}Продажи{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <img class="img-category">
            <h2>Рекламная кампания</h2>
            <p>Создать рекламную кампанию</p>
            <p><a class="btn btn-secondary" href="/sales/campaign" role="button">Перейти</a></p>
        </div>
        <div class="col">
            <img class="img-category">
            <h2>Список кампаний</h2>
            <p>Показать список рекламных кампаний</p>
            <p><a class="btn btn-secondary" href="/sales/list" role="button">Перейти</a></p>
        </div>
    </div>
</div>

{% endblock %}
