{% extends "app/base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<h1>Добро пожаловать в систему!</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <img class="img-category">
            <h2>Логин</h2>
            <p>Войти в систему</p>
            <p><a class="btn btn-secondary" href="/login" role="button">Перейти</a></p>
        </div>
        <div class="col">
            <img class="img-category">
            <h2>Регистрация</h2>
            <p>Зарегистрироваться в системе</p>
            <p><a class="btn btn-secondary" href="/register" role="button">Перейти</a></p>
        </div>
    </div>
</div>
{% endblock %}