<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-dark.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'app.css' %}" type="text/css">
</head>
<body>
{% if not view.is_popup %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">UniStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Админка</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Карта сайта
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/sales">Продажи</a></li>
                        <li><a class="dropdown-item" href="/shipping">Снабжение</a></li>
                        <li><a class="dropdown-item" href="/finances">Бухгалтерия</a></li>
                        <li><a class="dropdown-item" href="/staff">Персонал</a></li>
                        <div class="dropdown-divider"></div>

                        <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                        <li><a class="dropdown-item" href="/profile">Профиль</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" action="{% url 'search' %}">
                <input class="form-control me-2" type="search" name="query" placeholder="Поиск" aria-label="Поиск">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
    </div>
</nav>
{% endif %}
<div class="mx-4 mt-2 mb-5">
    {% block extrahead %}
    {% endblock %}

    {% block content%}
    {% endblock %}
</div>
{% if not view.is_popup %}
<footer>
    <p class="copyright">Copyright 2021 UniStore</p>
</footer>
{% endif %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
